* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #edf6e5;
}

.container {
  text-align: center;
  width: 50vw;
  margin: auto;
  padding: 2%;
}

.heading {
  text-align: center;
  margin: 2%;
  padding: 3%;
}

.description {
  margin: 2%;
  padding: 2%;
}

label {
  font-size: large;
}

button {
  background-color: #2c2e43;
  margin: 1% 0;
  padding: 1%;
  width: 10%;
  font-size: 1rem;
  color: whitesmoke;
}

#bill-amount {
  width: 100%;
  margin: 1% 0;
  padding: 1%;
  background-color: #595260;
  color: white;
}

#cash-div {
  margin: 2% 0;
}

#cash-given {
  margin: 1% 0;
  padding: 1%;
  width: 100%;
  display: block;
  background-color: #595260;
  color: white;
}

#error-message {
  margin: 1% 0;
  padding: 2% 0;
  font-size: larger;
  color: #df2e2e;
  text-align: center;
  font-weight: bold;
}

#note-table {
  text-align: justify;
  margin: auto;
  border-collapse: collapse;
}

caption {
  font-size: larger;
  font-weight: bolder;
  margin: 1%;
}

th,
td {
  border: 2px solid #ff7600;
  padding: 1.2rem;
  border-collapse: collapse;
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }

  button {
    width: 40%;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 40%;
  padding: 2rem 1rem;
  color: black;
  text-align: center;
}

.footer div {
  margin-bottom: 0.9rem;
}

.list-non-bullet {
  list-style: none;
  padding-inline-start: 2px;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.2rem;
}

.link {
  text-decoration: none;
  padding: 0.4rem 1.2rem;
}

.footer .link {
  color: black;
}

.footer .footer-header {
  font-weight: bold;
  font-size: large;
}

.footer ul {
  padding-inline-start: 0px;
}
